[Unit]
Description=hdisplay Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/hdisplay
Environment=PORT=3000
ExecStart=/usr/bin/env node /home/%i/hdisplay/server/index.js
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
