[Unit]
Description=Run hdisplay health check periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s
Persistent=true
Unit=hdisplay-health@%i.service

[Install]
WantedBy=timers.target
